@media only screen and (max-width: 1400px) {
  .display.dataTable {
    width: 100%;
    overflow-x: scroll;
    display: block;
  }
}
@media only screen and (max-height: 750px) {
  .modalBody {
    overflow: scroll;
    max-height: 750px;
    height: 70vh;
  }
}
@media only screen and (max-width: 700px) {
  .modalBody {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .modalBody form {
    padding: 15px;
  }
  .modalBody form div div {
    text-align: center !important;
    width: 100% !important;
  }
}
.field-error label {
  color: #ff3333;
}
.field-error input {
  border: 1px solid #ff3333 !important;
}
.field-error input + p {
  display: block !important;
  position: absolute;
  margin: 0 15px;
  text-align: left;
  color: #ff3333;
  font-style: italic;
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
}
.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modalHeader,
.modal .modal-content .modalFooter {
  top: 0;
  background: #e2e2e2;
  padding: 5px 15px;
  font-weight: 700;
  color: #414141;
}
.modal .modal-content .modalHeader {
  border-bottom: 2px solid #a8a8a8;
}
.modal .modal-content .modalFooter {
  border-top: 2px solid #a8a8a8;
  text-align: right;
}
.modal .modal-content .modalBody {
  padding: 10px;
  margin: auto;
  width: 70%;
}
.modal .modal-content .modalBody p {
  display: none;
}
.modal .modal-content .modalBody div {
  padding: 5px;
  text-align: center;
  margin-bottom: 3px;
}
.modal .modal-content .modalBody div div {
  display: inline-block;
  width: 45%;
}
.modal .modal-content .modalBody div div:nth-child(odd) {
  color: #2d3748;
  text-align: left;
}
.modal .modal-content .modalBody div input {
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input[type=button] {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0.333em;
  margin-bottom: 0.333em;
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.88em;
  line-height: 1.6em;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="rgba(230, 230, 230, 0.1)", EndColorStr="rgba(0, 0, 0, 0.1)");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
}

input[type=button].red {
  background-color: rgba(167, 20, 20, 0.72);
  color: white;
}
